<div class="container-xl">

  <div class="row">
    <div class="col-xl-12 text-center h1">About</div>
  </div>
  </br>
  <div class="row">
    <div class="col-xl-12 align-items-center text-center h4">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
    </div>
  </div>
  </br>
</div>