<div class="container-xl">

  <div class="row">
    <div class="col-xl-3">
      <h3 class="bg-light text-dark text-center">ジャンル編集</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <%= form_with model:@genre, url:admin_genre_path(@genre.id), local:true do |f| %>

        <div class="form-group row">
          <%= f.label :name, "ジャンル名", class: 'col-xl-2 col-form-label' %>
          <%= f.text_field :name, :placeholder => "ジャンルを入力", class: 'col-xl-4 col-form-label'  %>
          <span class="col-sm-1" ></span>
          <%= f.submit '変更を保存', class: "col-xl-2 col-form-label btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>